<div class="container-fluid">

    <div class="row artist_main_section pt-5">
        <div class="col-md-5 col-lg-5">

            <div class="card shadow-lg " style="background-color: rgba(232, 232, 232, 0.4)">
                <div class="card-body row">
                    <div *ngIf="artist" class="col-5">
                        <img class="artist-thumb rounded-lg" src="{{artist.images[0].url}}">
                    </div>
                    <div class="col-7">
                        <h1 style="font-weight: bold;color: #df73ff;">{{artist.name}}</h1>
                        <p class="lead text-white" *ngIf="artist.genres.length > 0">
                            Genres: <span *ngFor="let genre of artist.genres">{{genre}}</span>
                        </p>
                        <p class="lead text-white">Followers: {{artist['followers'].total}}</p>
                        <p class="lead text-white">Popularity: {{artist.popularity}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row artist_main_section pt-5">
        
            <div class="col-md-3" *ngFor="let album of albums">
                <div class="card shadow-lg mt-5" style="background-color: rgba(232, 232, 232, 0.4);">
                    <div *ngIf="album.images.length > 0">
                        <img src="{{album.images[0].url}}" style="width: 100%;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-white">{{album.name}}</h5>
                        <button (click)="getAlbumId(album.id)" class="btn btn-primary mt-2">Album Details</button>
                    </div>
                </div>
            </div>

        
    </div>
    
</div>