.artist_main_section {
    background-color: #212121;
}

.artist-thumb {
    width:400px;
    height: 400px;
}

.btn-primary {
    background-color: #df73ff;
    color: white;
    border-color: #df73ff;
}